{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block content %}
    <h3>Panier: </h3>
    <ul class="card">
        {% set total = 0 %}
        {% for key, cartList in cartService.cart %}
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-sm-2">
                        Img
                    </div>
                    <div class="col-sm">
                        {{ cartList.article.label }}
                    </div>
                    <div class="col-sm">
                        <a class="btn btn-success m-2 p-2" href="{{ path('removeOne', {'id': key}) }}">-</a>
                        {{ cartList.quantity }}
                        <a class="btn btn-success m-2 p-2" href="{{ path('addOne', {'id': key}) }}">+</a>
                    </div>
                    <div class="col-sm">
                        {{ cartList.article.price * cartList.quantity }} €
                    </div>
                    <div class="col-sm">
                        <a class="btn btn-danger" href="{{ path('remove', {'id': key}) }}">Poubelle</a>
                    </div>
                </div>
            </div>
            {% set total = total + cartList.article.price * cartList.quantity %}
        {% else %}
            <h4 class="mr-auto ml-auto mt-3">Aucun article dans votre panier</h4>
        {% endfor %}
        <hr class="ml-auto mr-auto" style="width: 70%;">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-sm">
                    Total: {{ total }} €
                </div>
            </div>
        </div>
    </ul>
    <a class="btn btn-primary {{ cartService.cart ? "disabled" : "" }}" href="{{ path('pay') }}">Payer la commande</a>
{% endblock %}
