
{% extends 'base.html.twig' %}

{% block title %}Magasin du Jardinage{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-12"><h1> {{ article.label }}</h1></div>
        <div class="col-md-6">
            <img src="/uploads/{{ article.image }}" alt="{{ article.image }}">
        </div>
        <div class="col-md-6 addToCard">
            <p class="ml-5">{{ article.price }}€</p>
            <a class="btn btn-secondary btn-lg" href="{{ path('addToCart', {'slug': article.slug, 'quantity': 1}) }}">Ajouter au panier</a>
        </div>
        <div class="col-md-12">
            <h5 style="text-transform: none">Description</h5>
            <p>{{ article.description }}</p>
            <div id='calendar'></div>
        </div>
    </div>

{% endblock %}