
{% extends 'base.html.twig' %}

{% block title %}Magasin du Jardinage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        img {
            max-width: 500px;
            max-height: 500px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row mt-5">
        <div class="col-md-12"><h1> {{ article.label }}</h1></div>
        <div class="col-md-6">
            <img src="/uploads/{{ article.image }}" alt="{{ article.image }}">
        </div>
        <div class="col-md-6 addToCard">
            <p class="ml-5">{{ article.price }}€</p>
            <a class="btn btn-secondary btn-lg" href="{{ path('addToCart', {'slug': article.slug, 'quantity': 1}) }}">Ajouter au panier</a>
        </div>
        <div class="col-md-12">
            <h5 style="text-transform: none">Description</h5>
            <p>{{ article.description }}</p>
        </div>
        <div class="col-md-12">
            <div class="w-50" id='timeline'></div>
        </div>
        <div class="col-md-12">
            <div class="row">
                {% for similarArticle in finalSimilarArticles %}
                    <div class="col-md-4 mt-5 p-0">
                        <a class="text-decoration-none" href="{{ path('articledetails', {'slug':similarArticle.slug}) }}">
                            <div class="border border-dark">
                                <img class=" img-fluid px-3 pt-5" src="/uploads/{{ similarArticle.image }}" alt="Card image cap">
                                <div>
                                    <h5 class="text-center">{{ similarArticle.label }}</h5>
                                    <div class="d-flex justify-content-between">
                                        <span class="ml-2" style="color: black">{{ similarArticle.price }}€</span>
                                        <button type="button" class="btn btn-dark mb-0  rounded-0">Ajouter au panier</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




    <div class="bg-default border mt-3 p-3">
        <h2>Commentaires:</h2>

        {% for comment in comments %}
            <div class="bg-default border mt-0 p-2">
                <h4>{{ comment.title }}</h4>
                <div class="row align-items-center">
                    <div class="col-sm">
                        <p>Message posté le {{ comment.date | date("d/m/Y") }} à {{ comment.date | date("H:i:s") }} par
                            {% if comment.user != null %}
                                {{ comment.user.username }}
                            {% else %}
                                {% if comment.anonyme %}
                                    Anonyme
                                {% else %}
                                    {{ comment.userComment.username }}
                                {% endif %}
                            {% endif %}
                        </p>
                        <div class="border bg-white p-2">
                            {{ comment.content | raw }}
                        </div>
                    </div>
                </div>
                {% for answer in comment.answers %}
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm">
                            <p>Message posté le {{ answer.date | date("d/m/Y") }} à {{ answer.date | date("H:i:s") }} par
                                {% if answer.user != null %}
                                    {{ answer.user.username }}
                                {% else %}
                                    {% if answer.anonyme %}
                                        Anonyme
                                    {% else %}
                                        {{ answer.userComment.username }}
                                    {% endif %}
                                {% endif %}
                            </p>
                            <div class="border bg-white p-2">
                                {{ answer.content | raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm">
                        <form class="m-0" method="post" action="{{ path('answerComment', {'slug': article.slug, 'commentStr': comment.id}) }}">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-sm togglebutton">
                                    <label>
                                        <input type="hidden" name="anonyme" value="no">
                                        <input id="anonyme" name="anonyme" type="checkbox" value="yes" checked="" onchange="refresh()">
                                        <span class="toggle"></span>
                                        <span class="text-dark">Ecrire un message anonymement ?</span>
                                    </label>
                                </div>
                            </div>
                            <div id="info" class="row d-none">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Pseudonyme">
                                    </div>
                                </div>
                            </div>
                            <textarea class="d-none content" name="content" id="content-{{ comment.id }}"></textarea>
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <input class="btn btn-primary" type="submit" value="Envoyer">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

        <h4>Nouveau commentaire:</h4>
        <form class="m-0" method="post" action="{{ path('newComment', {'slug': article.slug}) }}">
            <div class="row">
                <div class="col-sm">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Titre">
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="col-sm togglebutton">
                    <label>
                        <input type="hidden" name="anonyme" value="no">
                        <input id="anonyme" name="anonyme" type="checkbox" value="yes" checked="" onchange="refresh()">
                        <span class="toggle"></span>
                        <span class="text-dark">Ecrire un message anonymement ?</span>
                    </label>
                </div>
            </div>
            <div id="info" class="row d-none">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Pseudonyme">
                    </div>
                </div>
            </div>
            <textarea class="d-none content" name="content" id="content"></textarea>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Envoyer">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        function refresh() {
            let info = document.getElementById("info");
            info.classList.toggle("d-none", document.getElementById("anonyme").checked)
            if (document.getElementById("anonyme").checked) {
                document.getElementById("anonyme").value = "on";
            } else {
                document.getElementById("anonyme").value = "off";
            }
        }

    </script>
{% endblock %}

{% block javascripts %}
   {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ asset('assets/js/chronoline.js/chronoline/chronoline.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js" integrity="sha512-tBzZQxySO5q5lqwLWfu8Q+o4VkTcRGOeQGVQ0ueJga4A1RKuzmAu5HXDOXLEjpbKyV7ow9ympVoa6wZLEzRzDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.js" integrity="sha512-2h6nRNAf9ejT/sqEs1Pg7mmafcJCla+tVGo1zDQDH1U+abXb0CxzjGIJEFpzHSfG27bGHM4K+UpDXwaF0gzCHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tiny.cloud/1/pxp2qxs4kqtox2m98ofkx07u03id6klpmsebx1w0ubgpmifr/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '.content'
        });
    </script>


    <script>

        $(document).ready(function () {
            var calendarFrom = {{ article.calendarFrom|date('Y-m-d')|json_encode|raw}};
            var calendarTo = {{ article.calendarTo|date('Y-m-d')|json_encode|raw}};
            console.log("from",calendarFrom )
            console.log("to",calendarTo )
            var calendarToDate = calendarTo.split('-');
            var calendarFromDate = calendarFrom.split('-');
            var events = [
                {
                    dates:[new Date(calendarFromDate[0],calendarFromDate[1]-1, calendarFromDate[2]), new Date(calendarToDate[0],calendarToDate[1]-1, calendarToDate[2])],

                }
            ];

            var timeline = new Chronoline($("#timeline").get(0), events, {});
        });

    </script>
{% endblock %}