{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        img {
            max-width: 500px;
            max-height: 500px;
        }

        .comment-img {
            width: 75px;
            height: 75px;
        }

        .oneSubject, .articleComment {
            border: 2px solid  #55D400;
            border-radius: 10px;
            padding: 1em;
            margin-top: 2em;
        }

       .oneSubject i{
           font-size: 2em;
       }
        .commentButton{
            background-color: #FF0000;
        }

        .commentButton:hover{
            background-color: #55D400;
        }

    </style>
{% endblock %}

{% block content %}

    <div>
        {% if parentCategory is defined %}
            <p class="bg-success p-2 text-white rounded">
                {% set nb = 0 %}
                {% for category in parents | reverse %}
                    {% set nb = nb + 1 %}
                    {% if nb == 1 %}
                        <a class="text-white" href="{{ path('forum') }}">{{ category.title }}</a>
                    {% else %}
                        <a class="text-white"
                           href="{{ path('showCategory') }}/{{ category.id }}">{{ category.title }}</a>
                    {% endif %}
                    {% if nb < parents.count %}
                        >
                    {% endif %}
                {% endfor %}
            </p>
            <div class="text-right">
                <a href="{{ path('newPostForm', {"category": parents.get(0).id}) }}" class="btn commentButton">Ajouter un sujet</a>
            </div>
            <h4 class="bg-success p-2 text-white text-center rounded-top mb-0">Liste des sujets</h4>
        {% endif %}

        {% for category in categories %}
            {% if category.mainCategory == null %}
                <p class="bg-success p-2 text-white rounded">
                    {{ category.title }}</p>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="articleComment">
                        {% set subCategories = category.subCategories.unwrap() %}
                        {% for subCategory in subCategories %}
                        <div class="row">
                            <div class="col-md-2">
                                <div>Img</div>
                            </div>
                            <div class="col-md-4">
                                <a class="text-dark" style="font-weight: bold;"
                                   href="{{ path('showCategory') }}/{{ subCategory.id }}">{{ subCategory.title }}</a>
                                <p>{{ subCategory.subtitle }}</p>
                            </div>
                            <div class="col-md-3">
                                {% set counter = 0 %}
                                {% for comment in subCategory.comments %}
                                    {% if comment.parents == null %}
                                        {% set counter = counter + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {{ counter }} Sujet(s)
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <p>
                                        {% if subCategory.comments.count > 0 %}
                                            {% set lastComment = subCategory.comments.get(subCategory.comments.count - 1) %}
                                            Dernière sujet:
                                            {% if lastComment.user != null %}
                                                {{ lastComment.user.username }}
                                            {% else %}
                                                {% if lastComment.anonyme %}
                                                    Anonyme
                                                {% else %}
                                                    {{ lastComment.userComment.username }}
                                                {% endif %}
                                            {% endif %}
                                            <br>
                                            Le {{ lastComment.date | date("d/m/Y") }} à {{ lastComment.date | date("H:i:s") }}
                                        {% else %}
                                            Aucun sujet
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        {% endfor %}
         {#   <table class="table table-borderless table-striped">
                <tbody>
                {% set subCategories = category.subCategories.unwrap() %}
                {% for subCategory in subCategories %}
                    <tr>
                        <td class="align-middle" style="margin: 0;padding-right: 0; width: 50px;">
                            Img
                        </td>
                        <td class="align-middle">
                            <a class="text-dark" style="font-weight: bold;"
                               href="{{ path('showCategory') }}/{{ subCategory.id }}">{{ subCategory.title }}</a>
                            <p>{{ subCategory.subtitle }}</p>
                        </td>
                        <td class="align-middle" style="border-left: none;">
                            {% set counter = 0 %}
                            {% for comment in subCategory.comments %}
                                {% if comment.parents == null %}
                                    {% set counter = counter + 1 %}
                                {% endif %}
                            {% endfor %}
                            {{ counter }} Sujet(s)
                        </td>
                        <td class="align-middle" style="border-left: 1px solid rgba(0, 0, 0, 0.06);">
                            <p>
                                {% if subCategory.comments.count > 0 %}
                                    {% set lastComment = subCategory.comments.get(subCategory.comments.count - 1) %}
                                    Dernière sujet:
                                    {% if lastComment.user != null %}
                                        {{ lastComment.user.username }}
                                    {% else %}
                                        {% if lastComment.anonyme %}
                                            Anonyme
                                        {% else %}
                                            {{ lastComment.userComment.username }}
                                        {% endif %}
                                    {% endif %}
                                    <br>
                                    Le {{ lastComment.date | date("d/m/Y") }} à {{ lastComment.date | date("H:i:s") }}
                                {% else %}
                                    Aucun sujet
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>#}
        {% endfor %}

        {% if parentCategory is defined %}
            {% if parentCategory.comments.count == 0 %}
                <div class="bg-default border mt-0 p-3 text-center">
                    <p style="font-weight: bold;">Aucun sujet</p>
                </div>
            {% else %}
              {#  <table class="table table-borderless table-striped">
                    <tbody>
                    {% for category in categories %}
                    <tr>
                        <td class="align-middle" style="margin: 0;padding-right: 0; width: 50px;">
                            Img
                        </td>
                        <td class="align-middle">
                            <a class="text-dark" style="font-weight: bold;"
                               href="{{ path('showCategory') }}/{{ category.id }}">{{ category.title }}</a>
                            <p>{{ category.subtitle }}</p>
                        </td>
                        <td class="align-middle" style="border-left: none;">
                            {% set counter = 0 %}
                            {% for comment in category.comments %}
                                {% if comment.parents == null %}
                                    {% set counter = counter + 1 %}
                                {% endif %}
                            {% endfor %}
                            {{ counter }} Sujet(s)
                        </td>
                        <td class="align-middle" style="border-left: 1px solid rgba(0, 0, 0, 0.06);">
                            <p>
                                {% if category.comments.count > 0 %}
                                    {% set lastComment = category.comments.get(category.comments.count - 1) %}
                                    Dernière sujet:
                                    {% if lastComment.user != null %}
                                        {{ lastComment.user.username }} 
                                    {% else %}
                                        {% if lastComment.anonyme %}
                                            Anonyme
                                        {% else %}
                                            {{ lastComment.userComment.username }}
                                        {% endif %}
                                    {% endif %}
                                    <br>
                                    Le {{ lastComment.date | date("d/m/Y") }} à {{ lastComment.date | date("H:i:s") }}
                                {% else %}
                                    Aucun sujet
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for comment in parentCategory.comments.unwrap() | reverse %}
                        {% if comment.parents == null %}
                            <tr>
                                <td class="align-middle" style="margin: 0;padding-right: 0; width: 50px;">
                                    <img class="comment-img" src="{{ asset('assets/images/'~comment.image) }}" alt="{{ comment.image }}" />
                                </td>
                                <td class="align-middle">
                                    <a class="text-dark" style="font-weight: bold;"
                                       href="{{ path('showPost') }}/{{ comment.id }}">{{ comment.title }}</a>
                                    <p>Publié par
                                        {% if comment.user != null %}
                                            {{ comment.user.username }}
                                        {% else %}
                                            {% if comment.anonyme %}
                                                Anonyme
                                            {% else %}
                                                {{ comment.userComment.username }}
                                            {% endif %}
                                        {% endif %}
                                        le {{ comment.date | date("d/m/Y") }} à {{ comment.date | date("H:i:s") }}</p>
                                </td>
                                <td></td>
                                <td class="align-middle" style="border-left: 1px solid rgba(0, 0, 0, 0.06);">
                                    <p>
                                        {% if comment.answers.count > 0 %}
                                            {% set lastAnswer = comment.answers.get(comment.answers.count - 1) %}
                                            Dernière réponse de
                                            {% if lastAnswer.user != null %}
                                                {{ lastAnswer.user.username }}
                                            {% else %}
                                                {% if lastAnswer.anonyme %}
                                                    Anonyme
                                                {% else %}
                                                    {{ lastAnswer.userComment.username }}
                                                {% endif %}
                                            {% endif %}
                                            <br>
                                            le {{ lastAnswer.date | date("d/m/Y") }} à {{ lastAnswer.date | date("H:i:s") }}
                                        {% else %}
                                            Pas de réponse
                                        {% endif %}
                                    </p>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>#}
                <div class="row">
                    <div class="col-12">

                <div class="all">
                    {% for category in categories %}

                            <div>
                                Img
                            </div>
                            <div>
                                <a class="text-dark" style="font-weight: bold;"
                                   href="{{ path('showCategory') }}/{{ category.id }}">{{ category.title }}</a>
                                <p>{{ category.subtitle }}</p>
                            </div>
                            <div>
                                {% set counter = 0 %}
                                {% for comment in category.comments %}
                                    {% if comment.parents == null %}
                                        {% set counter = counter + 1 %}
                                    {% endif %}
                                {% endfor %}
                                {{ counter }} Sujet(s)
                            </div>
                           <div>
                                <p>
                                    {% if category.comments.count > 0 %}
                                        {% set lastComment = category.comments.get(category.comments.count - 1) %}
                                        Dernière sujet:
                                        {% if lastComment.user != null %}
                                            {{ lastComment.user.username }}
                                        {% else %}
                                            {% if lastComment.anonyme %}
                                                Anonyme
                                            {% else %}
                                                {{ lastComment.userComment.username }}
                                            {% endif %}
                                        {% endif %}
                                        <br>
                                        Le {{ lastComment.date | date("d/m/Y") }} à {{ lastComment.date | date("H:i:s") }}
                                    {% else %}
                                        Aucun sujet
                                    {% endif %}
                                </p>
                            </div>
                    {% endfor %}
                    {% for comment in parentCategory.comments.unwrap() | reverse %}
                        {% if comment.parents == null %}
                           <div class="oneSubject d-flex flex-column">
                               <div class="ml-2">
                               <h5> <i class="fas fa-comments"></i>
                                   <a class="text-dark ml-2" style="font-weight: bold;"
                                        href="{{ path('showPost') }}/{{ comment.id }}">{{ comment.title }}</a></h5>
                               </div>
                               <div class="row">
                                   <div class="col-1">
                                       <div>
                                           <img class="comment-img" src="{{ asset('assets/images/'~comment.image) }}" alt="{{ comment.image }}" />
                                       </div>
                                   </div>
                                   <div class="col-8">
                                      <p>{{ comment.content }}</p>
                                       <p> <b>Publié par </b>
                                           {% if comment.user != null %}
                                               {{ comment.user.username }}
                                           {% else %}
                                               {% if comment.anonyme %}
                                                   Anonyme
                                               {% else %}
                                                   {{ comment.userComment.username }}
                                               {% endif %}
                                           {% endif %}
                                         <b>le</b> {{ comment.date | date("d/m/Y") }} <b>à</b> {{ comment.date | date("H:i:s") }}</p>
                                   </div>

                                   <div class="col-3">
                                       <div class="reponses">
                                           <p>
                                               {% if comment.answers.count > 0 %}
                                                   {% set lastAnswer = comment.answers.get(comment.answers.count - 1) %}
                                                   Dernière réponse de
                                                   {% if lastAnswer.user != null %}
                                                       {{ lastAnswer.user.username }}
                                                   {% else %}
                                                       {% if lastAnswer.anonyme %}
                                                           Anonyme
                                                       {% else %}
                                                           {{ lastAnswer.userComment.username }}
                                                       {% endif %}
                                                   {% endif %}
                                                   <br>
                                                   le {{ lastAnswer.date | date("d/m/Y") }} à {{ lastAnswer.date | date("H:i:s") }}
                                               {% else %}
                                                   Pas de réponse
                                               {% endif %}
                                           </p>
                                       </div>
                                   </div>

                               </div>
                               </div>
                        {% endif %}
                    {% endfor %}
                </div>

            {% endif %}
        {% endif %}

    </div>
{% endblock %}
