{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        img {
            max-width: 500px;
            max-height: 500px;
        }

        .input-hidden {
            position: absolute;
            left: -9999px;
        }

        input[type=radio]:checked + label>img {
            border: 1px solid #fff;
            box-shadow: 0 0 3px 3px #090;
        }

        /* Stuff after this is only to make things more pretty */
        input[type=radio] + label>img {
            border: 1px solid #444;
            border-radius: 5px;
            width: 75px;
            height: 75px;
            padding: 5px;
            transition: 500ms all;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="bg-white">
        <p class="bg-success p-2 text-white rounded">
            {% set nb = 0 %}
            {% for category in parents | reverse %}
                {% set nb = nb + 1 %}
                {% if nb == 1 %}
                    <a class="text-white" href="{{ path('forum') }}">{{ category.title }}</a>
                {% else %}
                    <a class="text-white"
                       href="{{ path('showCategory') }}/{{ category.id }}">{{ category.title }}</a>
                {% endif %}
                {% if nb < parents.count %}
                    >
                {% endif %}
            {% endfor %}
        </p>

        <h4 class="bg-success p-2 text-white text-center rounded-top mb-0">Ajouter un post</h4>

        <div class="bg-default border mt-0 p-3">
            <form class="m-0" method="post" action="{{ path('newPost', {'category': parents.get(0).id}) }}" onsubmit="processQuill()">
                <div class="row">
                    <div class="col-sm">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Titre">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-sm togglebutton">
                        <label>
                            <input type="hidden" name="anonyme" value="no">
                            <input id="anonyme" name="anonyme" type="checkbox" value="yes" checked="" onchange="refresh()">
                            <span class="toggle"></span>
                            <span class="text-dark">Ecrire un message anonymement ?</span>
                        </label>
                    </div>
                </div>
                <div id="info" class="row d-none">
                    <div class="col-sm">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Pseudonyme">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <input type="radio" name="image" id="discuss" class="input-hidden" value="0" checked/>
                        <label class="text-center" for="discuss">
                            <img src="{{ asset('assets/images/grenouilleContent.svg') }}" alt="discussion" />
                            <p>Discussion</p>
                        </label>
                        <input type="radio" name="image" id="ask" class="input-hidden" value="1" />
                        <label class="text-center" for="ask">
                            <img src="{{ asset('assets/images/grenouilleAsk.svg') }}" alt="question" />
                            <p>Question</p>
                        </label>
                        <input type="radio" name="image" id="buy" class="input-hidden" value="2" />
                        <label class="text-center" for="buy">
                            <img src="{{ asset('assets/images/grenouilleBuy.svg') }}" alt="achat" />
                            <p>Achat</p>
                        </label>
                        <input type="radio" name="image" id="help" class="input-hidden" value="3" />
                        <label class="text-center" for="help">
                            <img src="{{ asset('assets/images/grenouilleMaintenance.svg') }}" alt="aide" />
                            <p>Problème</p>
                        </label>
                        <input type="radio" name="image" id="angry" class="input-hidden" value="4" />
                        <label class="text-center" for="angry">
                            <img src="{{ asset('assets/images/grenouilleVenere.svg') }}" alt="angry" />
                            <p>En colère</p>
                        </label>
                    </div>
                </div>
                <textarea class="content" name="content"></textarea>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Envoyer">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        function refresh() {
            let info = document.getElementById("info");
            info.classList.toggle("d-none", document.getElementById("anonyme").checked)
            if (document.getElementById("anonyme").checked) {
                document.getElementById("anonyme").value = "on";
            } else {
                document.getElementById("anonyme").value = "off";
            }
        }
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.tiny.cloud/1/pxp2qxs4kqtox2m98ofkx07u03id6klpmsebx1w0ubgpmifr/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '.content'
        });
    </script>

{% endblock %}
